.git
.gitignore
.vscode
pyrightconfig.json
README.md

**/__pycache__
**/*.py[cod]
**/.pytest_cache

backend/.venv
backend/build
backend/dist
backend/*.egg-info
frontend/.next
frontend/node_modules

postgres-data
redis-data
